# 2. Data Understanding

- calendar.csv contians data for the whether the date is available for book and how much it wil cost
- listing.csv contains many detailed data for each lsiting Id
- review.csv contains reviews for each host by who and the date it was maded

In [ ]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score, mean_squared_error 
from sklearn import linear_model

pd.set_option('expand_frame_repr', False)  # 当列太多时不换行
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 5000)  # 最多显示数据的行数

boston_calendar = pd.read_csv(r'D:\金融股票\Udacity\Data Science\1. Intro to Data Science\Data\Boston Airbub Open Data\calendar.csv')
boston_listing = pd.read_csv(r'D:\金融股票\Udacity\Data Science\1. Intro to Data Science\Data\Boston Airbub Open Data\listings.csv')
boston_reviews = pd.read_csv(r'D:\金融股票\Udacity\Data Science\1. Intro to Data Science\Data\Boston Airbub Open Data\reviews.csv')

seattle_calendar = pd.read_csv(r'D:\金融股票\Udacity\Data Science\1. Intro to Data Science\Data\Seattle Airbnb Open Data\calendar.csv')
seattle_listing = pd.read_csv(r'D:\金融股票\Udacity\Data Science\1. Intro to Data Science\Data\Seattle Airbnb Open Data\listings.csv')
seattle_reviews = pd.read_csv(r'D:\金融股票\Udacity\Data Science\1. Intro to Data Science\Data\Seattle Airbnb Open Data\reviews.csv')

In [ ]:
seattle_calendar.head()

In [ ]:
seattle_listing.head(10)

In [ ]:
seattle_reviews.head()

In [ ]:
seattle_listing.describe()

In [ ]:
seattle_listing.select_dtypes(include=['object']).describe()

In [ ]:
'''
1. drop check NaN value then drop and fix data
'''
plt.figure(figsize=(14,5))
seattle_listing.isnull().mean().sort_values(ascending=False).plot(kind = 'bar')
plt.title('listing NaN')

In [ ]:
plt.figure(figsize=(18,4))

plt.subplot(1,3,1)
seattle_calendar.isnull().mean().sort_values(ascending=False).plot(kind = 'bar')
plt.title('calenda NaN')

plt.subplot(1,3,2)
seattle_reviews.isnull().mean().sort_values(ascending=False).plot(kind = 'bar')
plt.title('reviews NaN')

plt.subplot(1,3,3)
seattle_listing.isnull().mean().sort_values(ascending=False)[:10].plot(kind = 'bar')
plt.title('Listing NaN Top 10')

As we see in the above diagram, there are missing values within our data. Especially on listing.csv for col 'license' and 'square_feet' we have over 90% of empty data. As a approach I will remove those w col and keep the rest, because as we can see even throught there are empty values but those col are still valuable to dig into.

But on the other hand there are some col with value but less usefull, such as: listing_url. For those I decide to drop too.

# 3. Data Preparation/ Data Wrangling

- make all objet to number
- create new col for analysis
- change categorig data to dummy

In [79]:
# drop useless cols
urls = []
for col in seattle_listing.columns:
    words = col.split('_')
    if 'url' in words:
        urls.append(col)
        
ToDrop = ['license','square_feet','scrape_id',
          'experiences_offered','street','market',
          'smart_location','country_code','country',
          'last_scraped','host_location','calendar_updated',
          'calendar_last_scraped','host_neighbourhood','neighbourhood',
          'host_total_listings_count','first_review','last_review']
ToDrop_list = urls + ToDrop

seattle_listing = seattle_listing.drop(columns = ToDrop_list,
                                       axis = 1)

# rename col get ready for merge
seattle_listing = seattle_listing.rename(columns = {'id':'listing_id'})
seattle = pd.merge(seattle_calendar, seattle_listing, on = 'listing_id')


# convert host_since  to host_since_year
seattle['host_since'] = seattle['host_since'].fillna('0')
seattle['host_since_year'] = seattle['host_since'].apply(lambda x: int(x.split('-')[0]))
seattle = seattle.drop(columns = 'host_since',
                            axis = 1)

# convert date to month and year
seattle['month'] = seattle['date'].apply(lambda x: int(x.split('-')[1]))
seattle['year'] = seattle['date'].apply(lambda x: int(x.split('-')[0]))
seattle = seattle.drop(columns = 'date',
                            axis = 1)
seattle['year_month'] = seattle['date'].apply(lambda x: x.split('-'))

# since words and long sentence are quite different compare with object and number
# split data into available, available_words and not-available, not-available_words
words_cols = ['name','summary','space','description','neighborhood_overview','notes','transit','host_about']

av_seattle = seattle.query('available == "t"').drop(columns = words_cols, axis = 1)
avw_seattle = seattle.query('available == "t"')[words_cols]
nav_seatle = seattle.query('available == "f"').drop(columns = words_cols, axis = 1)
navw_seatle = seattle.query('available == "f"')[words_cols]

In [116]:
occupied = nav_seatle.groupby(['year','month','listing_id']).count().reset_index()[['listing_id','available']]
occupied = x.rename(columns = {'available':'not_available'})

In [ ]:
av_seattle['monthly_occupied'] =

In [115]:
av_seattle['listing_id'].apply(lambda x: x)

0            241032
1            241032
9            241032
10           241032
14           241032
             ...
1393207    10208623
1393208    10208623
1393211    10208623
1393212    10208623
1393213    10208623
Name: listing_id, Length: 934542, dtype: int64

In [ ]:
def get_occupied_day(x):
    occupied[occupied['listing_id'] == x]['not_available']

In [120]:
occupied[occupied['listing_id'] == 5682]['not_available']

1        18
2818      6
4750     20
6323      5
7975      6
18990     1
Name: not_available, dtype: int64

In [125]:
occupied = nav_seatle.groupby(['year','month','listing_id']).count().reset_index()[['listing_id','available','month']]
occupied = x.rename(columns = {'available':'not_available'})

In [126]:
occupied

       listing_id  not_available
0            3335             28
1            5682             18
2            7369             25
3            9460             10
4            9531             28
...           ...            ...
20036    10267360              2
20037    10299108              2
20038    10299195              2
20039    10319529              2
20040    10339144              2

[20041 rows x 2 columns]

In [141]:
occupied = nav_seatle.groupby(['year','month','listing_id']).count().reset_index()[['listing_id','available','month','year']]
occupied = occupied.rename(columns = {'available':'not_available'})

In [142]:
occupied

       listing_id  not_available  month  year
0            3335             28      1  2016
1            5682             18      1  2016
2            7369             25      1  2016
3            9460             10      1  2016
4            9531             28      1  2016
...           ...            ...    ...   ...
20036    10267360              2      1  2017
20037    10299108              2      1  2017
20038    10299195              2      1  2017
20039    10319529              2      1  2017
20040    10339144              2      1  2017

[20041 rows x 4 columns]

In [143]:
y = av_seattle.copy()

In [144]:
y

         listing_id available price_x   host_id host_name  host_response_time host_response_rate host_acceptance_rate host_is_superhost  host_listings_count                    host_verifications host_has_profile_pic host_identity_verified neighbourhood_cleansed neighbourhood_group_cleansed     city state zipcode   latitude   longitude is_location_exact property_type        room_type  accommodates  bathrooms  bedrooms  beds  bed_type                                          amenities price_y weekly_price monthly_price security_deposit cleaning_fee  guests_included extra_people  minimum_nights  maximum_nights has_availability  availability_30  availability_60  availability_90  availability_365  number_of_reviews  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value requires_license jurisdiction_names instant_bookable cancellation_policy require_guest_profile_picture require_guest_phone_verification  calculated_host_listings_count  reviews_per_month  host_since_year  month  year
0            241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016
1            241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016
9            241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016
10           241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016
14           241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016
...             ...       ...     ...       ...       ...                 ...                ...                  ...               ...                  ...                                   ...                  ...                    ...                    ...                          ...      ...   ...     ...        ...         ...               ...           ...              ...           ...        ...       ...   ...       ...                                                ...     ...          ...           ...              ...          ...              ...          ...             ...             ...              ...              ...              ...              ...               ...                ...                   ...                     ...                        ...                    ...                          ...                     ...                  ...              ...                ...              ...                 ...                           ...                              ...                             ...                ...              ...    ...   ...
1393207    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016
1393208    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016
1393211    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016
1393212    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016
1393213    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016

[934542 rows x 62 columns]

In [145]:
pd.merge(y,occupied, on = ['listing_id','month','year'] )

        listing_id available price_x   host_id host_name  host_response_time host_response_rate host_acceptance_rate host_is_superhost  host_listings_count                    host_verifications host_has_profile_pic host_identity_verified neighbourhood_cleansed neighbourhood_group_cleansed     city state zipcode   latitude   longitude is_location_exact property_type        room_type  accommodates  bathrooms  bedrooms  beds  bed_type                                          amenities price_y weekly_price monthly_price security_deposit cleaning_fee  guests_included extra_people  minimum_nights  maximum_nights has_availability  availability_30  availability_60  availability_90  availability_365  number_of_reviews  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value requires_license jurisdiction_names instant_bookable cancellation_policy require_guest_profile_picture require_guest_phone_verification  calculated_host_listings_count  reviews_per_month  host_since_year  month  year  not_available
0           241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016             16
1           241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016             16
2           241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016             16
3           241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016             16
4           241032         t  $85.00    956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016             16
...            ...       ...     ...       ...       ...                 ...                ...                  ...               ...                  ...                                   ...                  ...                    ...                    ...                          ...      ...   ...     ...        ...         ...               ...           ...              ...           ...        ...       ...   ...       ...                                                ...     ...          ...           ...              ...          ...              ...          ...             ...             ...              ...              ...              ...              ...               ...                ...                   ...                     ...                        ...                    ...                          ...                     ...                  ...              ...                ...              ...                 ...                           ...                              ...                             ...                ...              ...    ...   ...            ...
113764    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016             21
113765    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016             21
113766    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016             21
113767    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016             21
113768    10208623         t  $87.00  14703116       Gil        within a day               100%                  NaN                 f                  1.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        East Queen Anne                   Queen Anne  Seattle    WA   98109  47.641186 -122.342085                 t     Apartment  Entire home/apt             3        1.5       2.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet",Ki...  $87.00          NaN           NaN              NaN          NaN                1        $0.00               1            1125                t                7                7                7                 7                  0                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN                f         WASHINGTON                f            flexible                             f                                f                               1                NaN             2014      1  2016             21

[113769 rows x 63 columns]

In [82]:
x.head(3)

   listing_id  not_available
0        3335             28
1        5682             18
2        7369             25

In [97]:
x[:15].to_pickle(r'D:\金融股票\Udacity\pre python\pd.merge\X.pkl')

In [99]:
y[:15].to_pickle(r'D:\金融股票\Udacity\pre python\pd.merge\Y.pkl')

In [83]:
x.shape

(20041, 2)

In [84]:
y.head(3)

   listing_id available price_x  host_id host_name  host_response_time host_response_rate host_acceptance_rate host_is_superhost  host_listings_count                    host_verifications host_has_profile_pic host_identity_verified neighbourhood_cleansed neighbourhood_group_cleansed     city state zipcode   latitude   longitude is_location_exact property_type        room_type  accommodates  bathrooms  bedrooms  beds  bed_type                                          amenities price_y weekly_price monthly_price security_deposit cleaning_fee  guests_included extra_people  minimum_nights  maximum_nights has_availability  availability_30  availability_60  availability_90  availability_365  number_of_reviews  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value requires_license jurisdiction_names instant_bookable cancellation_policy require_guest_profile_picture require_guest_phone_verification  calculated_host_listings_count  reviews_per_month  host_since_year  month  year
0      241032         t  $85.00   956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016
1      241032         t  $85.00   956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016
9      241032         t  $85.00   956883     Maija  within a few hours                96%                 100%                 f                  3.0  ['email', 'phone', 'reviews', 'kba']                    t                      t        West Queen Anne                   Queen Anne  Seattle    WA   98119  47.636289 -122.371025                 t     Apartment  Entire home/apt             4        1.0       1.0   1.0  Real Bed  {TV,"Cable TV",Internet,"Wireless Internet","A...  $85.00          NaN           NaN              NaN          NaN                2        $5.00               1             365                t               14               41               71               346                207                  95.0                    10.0                       10.0                   10.0                         10.0                     9.0                 10.0                f         WASHINGTON                f            moderate                             f                                f                               2               4.07             2011      1  2016

In [85]:
y.shape

(934542, 62)

In [86]:
len(y.listing_id.unique())

3723

In [87]:
len(x.listing_id.unique())

3140

In [92]:
z = pd.merge(x, y, on = 'listing_id')

In [93]:
z.shape

(2806135, 63)

In [94]:
z[['listing_id','not_available','available']].head(20)

    listing_id  not_available available
0         3335             28         t
1         3335             28         t
2         3335             28         t
3         3335             28         t
4         3335             28         t
5         3335             28         t
6         3335             28         t
7         3335             28         t
8         3335             28         t
9         3335             28         t
10        3335             28         t
11        3335             28         t
12        3335             28         t
13        3335             28         t
14        3335             28         t
15        3335             28         t
16        3335             28         t
17        3335             28         t
18        3335             28         t
19        3335             28         t

In [91]:
seattle[['price_x','price_y']]

        price_x price_y
0        $85.00  $85.00
1        $85.00  $85.00
2           NaN  $85.00
3           NaN  $85.00
4           NaN  $85.00
...         ...     ...
1393565     NaN  $87.00
1393566     NaN  $87.00
1393567     NaN  $87.00
1393568     NaN  $87.00
1393569     NaN  $87.00

[1393570 rows x 2 columns]

In [12]:
seattle.groupby(['year','month']).count()

            listing_id  available  price_x    name  summary   space  description  neighborhood_overview  notes  transit  host_id  host_name  host_about  host_response_time  host_response_rate  host_acceptance_rate  host_is_superhost  host_listings_count  host_verifications  host_has_profile_pic  host_identity_verified  neighbourhood_cleansed  neighbourhood_group_cleansed    city   state  zipcode  latitude  longitude  is_location_exact  property_type  room_type  accommodates  bathrooms  bedrooms    beds  bed_type  amenities  price_y  weekly_price  monthly_price  security_deposit  cleaning_fee  guests_included  extra_people  minimum_nights  maximum_nights  has_availability  availability_30  availability_60  availability_90  availability_365  number_of_reviews  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value  requires_license  jurisdiction_names  instant_bookable  cancellation_policy  require_guest_profile_picture  require_guest_phone_verification  calculated_host_listings_count  reviews_per_month  host_since_year
year month
2016 1          106904     106904    59239  106904   101948   90972       106904                  78008  61936    80752   106904     106848       82852               92260               92260                 85260             106848               106848              106904                106848                  106848                  106904                        106904  106904  106904   106708    106904     106904             106904         106876     106904        106904     106456    106736  106876    106904     106904   106904         56252          42476             52248         78064           106904        106904          106904          106904            106904           106904           106904           106904            106904             106904                 88788                   88480                      88620                  88480                        88676                   88564                88536            106904              106904            106904               106904                         106904                            106904                          106904              89348           106904
     2          110722     110722    73321  110722   105589   94221       110722                  80794  64148    83636   110722     110664       85811               95555               95555                 88305             110664               110664              110722                110664                  110664                  110722                        110722  110722  110722   110519    110722     110722             110722         110693     110722        110722     110258    110548  110693    110722     110722   110722         58261          43993             54114         80852           110722        110722          110722          110722            110722           110722           110722           110722            110722             110722                 91959                   91640                      91785                  91640                        91843                   91727                91698            110722              110722            110722               110722                         110722                            110722                          110722              92539           110722
     3          118358     118358    83938  118358   112871  100719       118358                  86366  68572    89404   118358     118296       91729              102145              102145                 94395             118296               118296              118358                118296                  118296                  118358                        118358  118358  118358   118141    118358     118358             118358         118327     118358        118358     117862    118172  118327    118358     118358   118358         62279          47027             57846         86428           118358        118358          118358          118358            118358           118358           118358           118358            118358             118358                 98301                   97960                      98115                  97960                        98177                   98053                98022            118358              118358            118358               118358                         118358                            118358                          118358              98921           118358
     4          114540     114540    76037  114540   109230   97470       114540                  83580  66360    86520   114540     114480       88770               98850               98850                 91350             114480               114480              114540                114480                  114480                  114540                        114540  114540  114540   114330    114540     114540             114540         114510     114540        114540     114060    114360  114510    114540     114540   114540         60270          45510             55980         83640           114540        114540          114540          114540            114540           114540           114540           114540            114540             114540                 95130                   94800                      94950                  94800                        95010                   94890                94860            114540              114540            114540               114540                         114540                            114540                          114540              95730           114540
     5          118358     118358    79971  118358   112871  100719       118358                  86366  68572    89404   118358     118296       91729              102145              102145                 94395             118296               118296              118358                118296                  118296                  118358                        118358  118358  118358   118141    118358     118358             118358         118327     118358        118358     117862    118172  118327    118358     118358   118358         62279          47027             57846         86428           118358        118358          118358          118358            118358           118358           118358           118358            118358             118358                 98301                   97960                      98115                  97960                        98177                   98053                98022            118358              118358            118358               118358                         118358                            118358                          118358              98921           118358
     6          114540     114540    77244  114540   109230   97470       114540                  83580  66360    86520   114540     114480       88770               98850               98850                 91350             114480               114480              114540                114480                  114480                  114540                        114540  114540  114540   114330    114540     114540             114540         114510     114540        114540     114060    114360  114510    114540     114540   114540         60270          45510             55980         83640           114540        114540          114540          114540            114540           114540           114540           114540            114540             114540                 95130                   94800                      94950                  94800                        95010                   94890                94860            114540              114540            114540               114540                         114540                            114540                          114540              95730           114540
     7          118358     118358    74222  118358   112871  100719       118358                  86366  68572    89404   118358     118296       91729              102145              102145                 94395             118296               118296              118358                118296                  118296                  118358                        118358  118358  118358   118141    118358     118358             118358         118327     118358        118358     117862    118172  118327    118358     118358   118358         62279          47027             57846         86428           118358        118358          118358          118358            118358           118358           118358           118358            118358             118358                 98301                   97960                      98115                  97960                        98177                   98053                98022            118358              118358            118358               118358                         118358                            118358                          118358              98921           118358
     8          118358     118358    76347  118358   112871  100719       118358                  86366  68572    89404   118358     118296       91729              102145              102145                 94395             118296               118296              118358                118296                  118296                  118358                        118358  118358  118358   118141    118358     118358             118358         118327     118358        118358     117862    118172  118327    118358     118358   118358         62279          47027             57846         86428           118358        118358          118358          118358            118358           118358           118358           118358            118358             118358                 98301                   97960                      98115                  97960                        98177                   98053                98022            118358              118358            118358               118358                         118358                            118358                          118358              98921           118358
     9          114540     114540    77246  114540   109230   97470       114540                  83580  66360    86520   114540     114480       88770               98850               98850                 91350             114480               114480              114540                114480                  114480                  114540                        114540  114540  114540   114330    114540     114540             114540         114510     114540        114540     114060    114360  114510    114540     114540   114540         60270          45510             55980         83640           114540        114540          114540          114540            114540           114540           114540           114540            114540             114540                 95130                   94800                      94950                  94800                        95010                   94890                94860            114540              114540            114540               114540                         114540                            114540                          114540              95730           114540
     10         118358     118358    82438  118358   112871  100719       118358                  86366  68572    89404   118358     118296       91729              102145              102145                 94395             118296               118296              118358                118296                  118296                  118358                        118358  118358  118358   118141    118358     118358             118358         118327     118358        118358     117862    118172  118327    118358     118358   118358         62279          47027             57846         86428           118358        118358          118358          118358            118358           118358           118358           118358            118358             118358                 98301                   97960                      98115                  97960                        98177                   98053                98022            118358              118358            118358               118358                         118358                            118358                          118358              98921           118358
     11         114540     114540    81780  114540   109230   97470       114540                  83580  66360    86520   114540     114480       88770               98850               98850                 91350             114480               114480              114540                114480                  114480                  114540                        114540  114540  114540   114330    114540     114540             114540         114510     114540        114540     114060    114360  114510    114540     114540   114540         60270          45510             55980         83640           114540        114540          114540          114540            114540           114540           114540           114540            114540             114540                 95130                   94800                      94950                  94800                        95010                   94890                94860            114540              114540            114540               114540                         114540                            114540                          114540              95730           114540
     12         118358     118358    87061  118358   112871  100719       118358                  86366  68572    89404   118358     118296       91729              102145              102145                 94395             118296               118296              118358                118296                  118296                  118358                        118358  118358  118358   118141    118358     118358             118358         118327     118358        118358     117862    118172  118327    118358     118358   118358         62279          47027             57846         86428           118358        118358          118358          118358            118358           118358           118358           118358            118358             118358                 98301                   97960                      98115                  97960                        98177                   98053                98022            118358              118358            118358               118358                         118358                            118358                          118358              98921           118358
2017 1            7636       7636     5698    7636     7282    6498         7636                   5572   4424     5768     7636       7632        5918                6590                6590                  6090               7632                 7632                7636                  7632                    7632                    7636                          7636    7636    7636     7622      7636       7636               7636           7634       7636          7636       7604      7624    7634      7636       7636     7636          4018           3034              3732          5576             7636          7636            7636            7636              7636             7636             7636             7636              7636               7636                  6342                    6320                       6330                   6320                         6334                    6326                 6324              7636                7636              7636                 7636                           7636                              7636                            7636               6382             7636